<div class="flex flex-col flex-auto min-w-0 h-full">
  <hubsd-header
    buttonActionTitle="Criar um novo tipo de empresa"
    (actionListener)="handleAction($event)"
  ></hubsd-header>
  <div class="px-6 pb-6">
    <hubsd-table
      *ngIf="data"
      class="w-full"
      [config]="config"
      [data]="data"
      [selection]="selection"
      (actionListener)="handleAction($event)"
      (filtered)="getAll($event)"
      (sortabled)="handleSort($event)"
      (paginated)="handlePaginator($event)"
    >
    </hubsd-table>
  </div>
</div>
