<section class="p-4 sm:p-16 md:p-16 lg:p-16 xl:p-16 bg-primary-950">
  <div class="flex max-w-screen-xl mx-auto">
    <div class="bg-card rounded-xl landing-page-card p-2 h-full ">
      <div class="bg-carrousel-1 bg-cover h-72 w-full rounded-xl">
        <div class="flex flex-col h-full justify-end p-4">
          <h3 class="font-bold text-lg text-slate-100">Análise Tarifária</h3>
          <p class="font-light text-md mb-4 text-slate-100">
            Worem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
          </p>
          <button
            class="text-sm self-start dark:bg-white font-semibold mr-4 leading-6 px-8 text-gray-950"
            mat-flat-button
            [routerLink]="['/registrar']"
          >
          <span>
            Faça sua análise
          </span>
          </button>
        </div>
      </div>
    </div>
    <div class="bg-card rounded-xl landing-page-card p-2 hidden sm:block md:block lg:block lx:block h-full ">
      <div class="bg-carrousel-2 bg-cover h-72 w-full rounded-xl">
        <div class="flex flex-col h-full justify-end p-4">
          <h3 class="font-bold text-lg text-slate-100">Análise Tarifária</h3>
          <p class="font-light text-md mb-4 text-slate-100">
            Worem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
          </p>
          <button
            class="text-sm self-start dark:bg-white font-semibold mr-4 leading-6 px-8 text-gray-950"
            mat-flat-button
            [routerLink]="['/registrar']"
          >
          <span>
            Faça sua análise
          </span>
          </button>
        </div>
      </div>
    </div>
    <div class="bg-card rounded-xl landing-page-card p-2 hidden md:block lg:block lx:block h-full ">
      <div class="bg-carrousel-3 bg-cover h-72 w-full rounded-xl">
        <div class="flex flex-col h-full justify-end p-4">
          <h3 class="font-bold text-lg text-slate-100">Análise Tarifária</h3>
          <p class="font-light text-md mb-4 text-slate-100">
            Worem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
          </p>
          <button
            class="text-sm self-start dark:bg-white font-semibold mr-4 leading-6 px-8 text-gray-950"
            mat-flat-button
            [routerLink]="['/registrar']"
          >
          <span>
            Faça sua análise
          </span>
          </button>
        </div>
      </div>
    </div>
    <div class="rounded-xl landing-page-card p-2 hidden lg:block lx:block bg-card h-full">
      <div class="bg-carrousel-4 bg-cover h-72 w-full rounded-xl">
        <div class="flex flex-col h-full justify-end p-4">
          <h3 class="font-bold text-lg text-slate-100">Análise Tarifária</h3>
          <p class="font-light text-md mb-4 text-slate-100">
            Worem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
          </p>
          <button
            class="text-sm self-start dark:bg-white font-semibold mr-4 leading-6 px-8 text-gray-950"
            mat-flat-button
            [routerLink]="['/registrar']"
          >
          <span>
            Faça sua análise
          </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid lg:grid-cols-2 md:grid-flow-row md:auto-rows-max max-w-screen-xl px-4 py-8 mx-auto gap-4">
    <h2 class="font-bold max-w-2xl text-xl tracking-tight leading-none md:text-2xl xl:text-3xl break-keep text-white">Nossas soluções</h2>
    <div>
      <p class="font-normal text-md mb-4 text-white">
        Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio
        mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
      </p>
      <a
        class="text-md font-bold leading-6 text-gray-50 hover:underline"
        href="#"
      >
        <span>
          Conheça nossas soluções <span aria-hidden="true">&rarr;</span>
        </span>
      </a>
    </div>
  </div>
</section>
