<section class="p-4 sm:p-16 md:p-16 lg:p-16 xl:p-16">
  <div class="grid lg:grid-cols-2 md:grid-flow-row md:auto-rows-max max-w-screen-xl px-4 py-8 mx-auto gap-4">
    <h2 class="font-bold max-w-2xl text-xl tracking-tight leading-none md:text-2xl xl:text-3xl break-keep">Sobre o Eficiência</h2>
    <p class="font-normal text-md">
      Conheça o Eficiência, o inovador software que vai revolucionar sua indústria. Com tecnologia avançada, resolvemos
      os desafios energéticos de forma inteligente, otimizando o consumo e reduzindo custos. Intuitivo e integrável,
      monitore em tempo real e identifique oportunidades de economia. Alcance maior sustentabilidade e competitividade.
      Potencialize seus recursos e tenha o controle total da energia. Transforme seu negócio com o poder do Eficiência!
    </p>
  </div>
</section>
