<div
  class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
  <div
    class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none dark:bg-default sm:bg-card"
  >
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <div class="w-48">
        <img
          class="block dark:hidden"
          src="assets/images/logo/logo-white.png"
          alt="Logo eficiência"
        />
        <img
          class="hidden dark:block"
          src="assets/images/logo/logo-white.png"
          alt="Logo eficiência"
        />
      </div>

      <div
        class="mt-8 text-lg font-bold tracking-tight leading-tight dark:text-low-pure"
      >
        Criar nova senha
      </div>
      <div class="flex items-baseline mt-0.5 font-medium text-low-medium">
        <div class="text-md font-normal">
          Crie uma nova senha de acesso ao sistema.
        </div>
      </div>

      <form class="mt-8" [formGroup]="resetPasswordForm" #signInNgForm="ngForm">
        <mat-form-field class="w-full">
          <mat-label class="font-bold">Nova senha</mat-label>
          <input
            placeholder="Senha123@"
            matInput
            [type]="isVisible ? 'text' : 'password'"
            (keyup)="onPasswordChange()"
            [formControlName]="'password'"
          />
          <mat-error>A senha é obrigatória.</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label class="font-bold">Confirmar nova senha</mat-label>
          <input
            placeholder="Senha123@"
            matInput
            [type]="isVisible ? 'text' : 'password'"
            [formControlName]="'confirmPassword'"
          />
          <button
            mat-icon-button
            type="button"
            (click)="isVisible = !isVisible"
            matSuffix
          >
            <mat-icon
              *ngIf="!isVisible"
              [svgIcon]="'mat_outline:visibility'"
            ></mat-icon>
            <mat-icon
              *ngIf="isVisible"
              [svgIcon]="'mat_outline:visibility_off'"
            ></mat-icon>
          </button>
          <mat-error
            *ngIf="
              resetPasswordForm.get('confirmPassword').hasError('required')
            "
          >
            A confirmação da senha é obrigatória.
          </mat-error>
          <mat-error
            *ngIf="
              resetPasswordForm.get('confirmPassword').hasError('mustMatch')
            "
          >
            As senhas devem ser iguais.
          </mat-error>
        </mat-form-field>

        <button
          [disabled]="resetPasswordForm.invalid"
          class="w-full mt-6"
          mat-flat-button
          color="primary"
          (click)="handleRequest()"
        >
          <span *ngIf="!resetPasswordForm.disabled">Redefinir senha</span>
          <mat-progress-spinner
            *ngIf="resetPasswordForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
        </button>
      </form>
    </div>
  </div>

  <div
    class="flex flex-col relative hidden md:flex flex-auto items-center justify-center h-full pt-16 pl-16 pr-16 lg:px-28 overflow-hidden dark:border-r"
  >
    <div class="flex flex-col grow justify-center w-full max-w-2xl space-y-6">
      <div class="flex z-10 relative w-full mb-9">
        <div class="w-full mr-2 pb-2">
          <p
            class="font-bold text-sm mb-1 py-2 flex items-center"
            [class.text-amber-500]="progressPercentage < 50"
            [class.text-primary]="progressPercentage >= 50"
          >
            {{ progressPercentage < 50 ? "Fraco" : "Forte" }}
            <mat-icon
              *ngIf="progressPercentage === 100"
              [@fadeIn]
              [@fadeOut]
              class="ml-2"
              color="primary"
              [svgIcon]="'mat_outline:done'"
            ></mat-icon>
          </p>
          <mat-progress-bar
            [class.progress-danger]="progressPercentage < 50"
            [value]="progressPercentage"
          ></mat-progress-bar>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="numberValid"
          [disabled]="true"
        ></mat-checkbox>
        <div>
          <p class="font-bold">Número</p>
          <p>Insira ao menos um número.</p>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="symbolValid"
          [disabled]="true"
        ></mat-checkbox>
        <div>
          <p class="font-bold">Símbolo</p>
          <p>Insira ao menos um símbolo. Ex.: @!#</p>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="uppercaseValid"
          [disabled]="true"
        ></mat-checkbox>
        <div>
          <p class="font-bold">Letra maiúscula</p>
          <p>Insira ao menos um símbolo. Ex.: @!#</p>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="lowercaseValid"
          [disabled]="true"
        ></mat-checkbox>
        <div>
          <p class="font-bold">Letra minúscula</p>
          <p>Insira ao menos um símbolo. Ex.: @!#</p>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="lengthValid"
          [disabled]="true"
        ></mat-checkbox>
        <div>
          <p class="font-bold">Tamanho</p>
          <p>A senha precisa ter entre 8 e 32 caracteres.</p>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="spaceValid"
          [disabled]="true"
        >
        </mat-checkbox>
        <div>
          <p class="font-bold">Sem espaços</p>
          <p>Não insira espaços na senha.</p>
        </div>
      </div>
    </div>

    <div class="flex w-full text-primary p-8 space-x-4 justify-end">
      <a [routerLink]="['/']" class="underline font-bold">Termos de serviço</a>
      <a [routerLink]="['/']" class="underline font-bold"
        >Política de privacidade</a
      >
      <a [routerLink]="['/']" class="underline font-bold">Ajuda</a>
    </div>
  </div>
</div>
