<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
  <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none dark:bg-default sm:bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <div class="w-48">
        <img class="block dark:hidden" ngSrc="assets/images/logo/logo-white.png" height="40" width="265">
        <img class="hidden dark:block" ngSrc="assets/images/logo/logo-white.png" height="41" width="265">
      </div>

      <div class="mt-8 text-lg font-bold tracking-tight dark:text-low-pure leading-tight">Acesse sua conta</div>

      <form
        class="mt-8"
        #signInNgForm="ngForm"
        [formGroup]="signInForm"
      >
        <mat-form-field class="w-full mb-2">
          <mat-label class="font-bold">E-mail</mat-label>
          <input
            id="email"
            placeholder="email@eficiencia.al.senai.br"
            formControlName="email"
            matInput>
            <mat-error *ngIf="signInForm.get('email').hasError('required')">
              O e-mail é obrigatório
            </mat-error>
            <mat-error *ngIf="signInForm.get('email').hasError('email')">
              Por favor insira um e-mail válido.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label class="font-bold">Senha</mat-label>
          <input
            id="password"
            placeholder="Senha123@"
            formControlName="password"
            matInput
            type="password"
            #passwordField>
          <mat-error>A senha é obrigatória.</mat-error>
        </mat-form-field>

        <div class="inline-flex items-center justify-between w-full mt-1.5">
          <mat-checkbox
            class="-ml-2"
            [color]="'primary'">
            Lembrar senha
          </mat-checkbox>
          <a
            class="text-primary-800 underline font-bold"
            [routerLink]="['/esqueci-minha-senha']">Esqueceu sua senha?
          </a>
        </div>

        <button
          class="w-full mt-6"
          mat-flat-button
          color="primary"
          [disabled]="signInForm.invalid"
          (click)="signIn()"
        >
          <span *ngIf="!signInForm.disabled">Entrar</span>
          <mat-progress-spinner
            *ngIf="signInForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
        </button>
      </form>
    </div>
  </div>
  <div class="relative bg-auth-image bg-cover hidden md:flex flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden dark:border-r">
  </div>
</div>
