<div
  class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
  <div
    class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none dark:bg-default sm:bg-card"
  >
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <div class="w-48">
        <img
          class="block dark:hidden"
          src="assets/images/logo/logo-white.png"
          alt="Logo eficiência"
        />
        <img
          class="hidden dark:block"
          src="assets/images/logo/logo-white.png"
          alt="Logo eficiência"
        />
      </div>

      <div
        class="mt-8 text-lg font-bold tracking-tight leading-tight dark:text-low-pure"
      >
        Recuperar senha
      </div>
      <div class="flex items-baseline mt-0.5 font-medium text-low-medium">
        <div class="text-md font-normal">
          Informe seu e-mail e recupere sua senha.
        </div>
      </div>

      <form [formGroup]="forgotPasswordForm" class="mt-8">
        <mat-form-field class="w-full">
          <mat-label class="font-bold">E-mail</mat-label>
          <input
            formControlName="email"
            placeholder="email@eficiencia.al.senai.br"
            matInput
          />
          <mat-error
            *ngIf="forgotPasswordForm.get('email').hasError('required')"
          >
            Endereço de e-mail é obrigatório.
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
            Por favor, digite um endereço de e-mail válido.
          </mat-error>
        </mat-form-field>

        <button
          [disabled]="forgotPasswordForm.invalid"
          class="w-full mt-6"
          mat-flat-button
          color="primary"
          (click)="handleRequest()"
        >
          <span *ngIf="!forgotPasswordForm.disabled">Recuperar senha</span>
          <mat-progress-spinner
            *ngIf="forgotPasswordForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
        </button>
      </form>
    </div>
  </div>
  <div
    class="relative bg-auth-image bg-cover hidden md:flex flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden dark:border-r"
  ></div>
</div>
