.hubsd-navigation-item-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px 24px;
  cursor: pointer;
  -webkit-overflow-scrolling: touch;
  transition-duration: 400ms;
  transition-property: left, right;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hubsd-navigation-item-wrapper:not(.hubsd-navigation-item-active):hover {
  @apply bg-hover;
  transition: 0.4s ease-out;
}

.hubsd-navigation-item {
  display: flex;
}

.hubsd-navigation-item-title-wrapper {
  display: flex;
  margin-left: 16px;
}

.hubsd-navigation-item-title {
  display: flex;
  align-items: center;
  color: var(--hubsd-text-low-medium);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hubsd-navigation-item-icon {
  color: var(--hubsd-text-low-medium);
}

.hubsd-navigation-item-active {
  border-right: 2px solid var(--hubsd-text-primary-pure);
  @apply bg-active;

  .hubsd-navigation-item-icon {
    @apply opacity-100 text-primary-pure;
  }

  .hubsd-navigation-item-title {
    @apply opacity-100 text-primary-pure;
  }
}
