<div #tooltip="matTooltip" [matTooltip]="item.menu">
  <a
    class="hubsd-navigation-item-wrapper"
    [routerLink]="[item.route]"
    [routerLinkActive]="'hubsd-navigation-item-active'"
  >
    <ng-container>
      <a
        class="hubsd-navigation-item"
      >
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
      </a>
    </ng-container>
  </a>

  <ng-template #itemTemplate>
    <ng-container *ngIf="item.icon">
      <mat-icon
        class="hubsd-navigation-item-icon"
        [svgIcon]="item.icon"
      ></mat-icon>
    </ng-container>

    <div class="hubsd-navigation-item-title-wrapper">
      <div class="hubsd-navigation-item-title">
        <span *ngIf="hovered" [@fadeInLeft]="hovered" >
          {{ item.menu }}
        </span>
      </div>
    </div>
  </ng-template>
</div>
